# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
indent_size = 4

# XAML files
[*.xaml]
indent_size = 2

# ReSharper properties for WinUI 3 XAML
# Disable XAML inspections that don't understand WinUI 3
resharper_xaml_redundant_explicit_property_name_highlighting = none
resharper_xaml_obsolete_target_property_highlighting = none
resharper_unknown_xaml_namespace_highlighting = none
resharper_unresolved_tag_highlighting = none
resharper_unresolved_markup_extension_highlighting = none
resharper_xaml_unresolved_markup_extension_highlighting = none
resharper_xaml_style_class_not_found_highlighting = none
resharper_xaml_missing_xmlns_highlighting = none

# JSON files
[*.json]
indent_size = 2

# XML files
[*.xml]
indent_size = 2

# Project files
[*.{csproj,props,targets}]
indent_size = 2
